/* ------------------------------------------------
   Global CSS that is in included in all note-types
   ------------------------------------------------ */

/* ---------- GENERAL SETTINGS ---------- */
:root {
  --max-width: 600px;
  --line-height: 1.5;
  --font-size-regular: 20px;
  --font-size-small: 14px;
}

/* ---------- FONTS ---------- */
:root {
  --font-family-serif: "Noto Serif", Georgia, serif, "noto_serif_bundled";
  --font-family-sans: "Noto Sans", Arial, sans-serif, "noto_sans_bundled";
  --font-family-arabic:
    "Noto Sans Arabic", "noto_sans_arabic_bundled", Roboto, sans-serif;
  --font-family-code: "JetBrains Mono", "jetbrains_mono_bundled";
}

/* ---------- CUSTOM FONTS ---------- */

@font-face {
  /* FONT FAMILY SERIF */
  font-family: "noto_serif_bundled";
  src: url("_noto_serif.ttf");
}
@font-face {
  /* FONT FAMILY SANS */
  font-family: "noto_sans_bundled";
  src: url("_noto_sans.ttf");
}
@font-face {
  font-family: "noto_sans_arabic_bundled";
  src: url("_noto_sans_arabic.ttf");
}
@font-face {
  /* FONT FAMILY CODE */
  font-family: "jetbrains_mono_bundled";
  src: url("_jetbrains_mono.ttf");
}

/* ---------- COLORS ---------- */

.card {
  /* LIGHT MODE */
  --bg-color-primary: ##eff1f5;
  --bg-color-secondary: #ccd0da;
  --divider-bg-color: #7c7f93;
  --text-color: #4c4f69;
  --text-color-subtle: #8c8fa1;
  --subtext-color: #5c5f77;
  --selected-text-bg-color: #7c7f93;
  --italic-color: #7287fd;
  background-color: var(--bg-color-primary);
}

.card.nightMode {
  /* DARK MODE */
  --bg-color-primary: #1e1e2e;
  --bg-color-secondary: #313244;
  --divider-bg-color: #9399b2;
  --text-color: #cdd6f4;
  --text-color-subtle: #7f849c;
  --subtext-color: #bac2de;
  --selected-text-bg-color: #9399b2;
  --italic-color: #b4befe;
  background-color: var(--bg-color-primary);
}

/* ---------- CARD SETTINGS ---------- */
.card {
  margin: clamp(20px, 8vh, 40px) auto;
  padding: 0 20px;
  text-align: left;
  max-width: var(--max-width);
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-regular);
  line-height: var(--line-height);
}

/* ---------- DIVIDER ---------- */
hr {
  all: unset;
  display: block;
  margin: clamp(0.75em, 6vh, 1.5em) 0;
  height: 1.5px;
  background-color: var(--divider-bg-color);
}

/* ---------- HEAD ---------- */
.modern-head {
  text-align: left;
}

/* ---------- BODY ---------- */
.modern-body {
  text-align: left;
}

/* ---------- CENTER CONTENT ---------- */
.modern-center {
  text-align: center;
}

/* ---------- DECK INDICATOR ---------- */
.modern-deck {
  margin-bottom: 2em;
  display: flex;
  white-space: nowrap;
  color: var(--subtext-color);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
}

.mobile.modern-deck {
  margin: 1em;
}

.modern-subdeck {
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ---------- BACK EXTRA ---------- */
.modern-back-extra {
  margin-top: clamp(1.5em, 11vh, 3em);
  font-size: 90%;
  color: var(--subtext-color);
}

/* ---------- TEXT SELECTION ---------- */
::selection {
  background-color: var(--selected-text-bg-color);
  color: var(--text-color);
}

/* ---------- INLINE CODE ---------- */
code {
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  padding: 0.1em 0.2em;
  border-radius: 3px;
  font-size: 80%;
  font-family: var(--font-family-code);
}

/* ---------- ITALIC ---------- */
i {
  color: var(--italic-color);
}

/* ---------- INLINE CODE ---------- */
code {
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  padding: 0.1em 0.2em;
  border-radius: 3px;
  font-size: 80%;
  font-family: var(--font-family-code);
}

/* ---------- LANGUAGE LEARNING ---------- */
.modern-languages-target {
  color: red;
  font-size: 130%;
  margin: 0.5em 0;
}

.modern-languages-hint {
  font-size: 90%;
  color: #df8e1d;
}

.modern-languages-flags {
  font-size: 150%;
  font-family: var(--font-family-sans);
  margin-bottom: 0.5em;
}

/* Persian */
.modern-languages-persian {
  font-family: var(font-family-arabic);
  color: red;
  font-size: 35px;
  margin: 0.5em 0;
}
