/* ----- Style for the modern_greek_alphabet note type ----- */

/* ----- General Settings ----- */
:root {
  --max-width: 600px;
  --text-align: left;
  --line-height: 1.5;
  --font-size-regular: 20px;
  --font-size-small: 14px;
  --font-family-serif: "noto_serif_bundled", "Noto Serif";
  --font-family-sans: "noto_sans_bundled", "Noto Sans";
  --font-family-code: "jetbrains_mono_bundled", "JetBrains Mono";
  --type-good-color: #40a02b;
  --type-bad-color: #d20f39;
}

/* ----- Colors ----- */

.card {
  /* light mode */
  --bg-color-primary: ##eff1f5;
  --bg-color-secondary: #ccd0da;
  --divider-bg-color: #7c7f93;
  --text-color: #4c4f69;
  --text-color-subtle: #8c8fa1;
  --subtext-color: #5c5f77;
  --selected-text-bg-color: #7c7f93;
  --type-missed-color: #9ca0b0;
  --italic-color: #7287fd;
  background-color: var(--bg-color-primary);
}

.card.nightMode {
  /* dark mode */
  --bg-color-primary: #1e1e2e;
  --bg-color-secondary: #313244;
  --divider-bg-color: #9399b2;
  --text-color: #cdd6f4;
  --text-color-subtle: #7f849c;
  --subtext-color: #bac2de;
  --selected-text-bg-color: #9399b2;
  --type-missed-color: #6c7086;
  --italic-color: #b4befe;
  background-color: var(--bg-color-primary);
}

/* ----- Card Settings ----- */
.card {
  margin: clamp(20px, 8vh, 40px) auto;
  padding: 0 20px;
  max-width: var(--max-width);
  text-align: var(--text-align);
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-regular);
  line-height: var(--line-height);
}

/* ----- Text Selection ----- */
::selection {
  background-color: var(--selected-text-bg-color);
  color: var(--text-color);
}

/* ----- Divider ----- */
hr {
  all: unset;
  display: block;
  margin: clamp(0.75em, 6vh, 1.5em) 0;
  height: 1.5px;
  background-color: var(--divider-bg-color);
}

/* ----- Deck indicator ----- */
.modern-deck {
  margin-bottom: 2em;
  display: flex;
  white-space: nowrap;
  color: var(--subtext-color);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
}

.mobile.modern-deck {
  margin: 1em;
}

.modern-subdeck {
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ----- Back Extra ----- */
.modern-back-extra {
  margin-top: clamp(1.5em, 11vh, 3em);
  font-size: 90%;
  color: var(--subtext-color);
}

/* ----- Style ----- */
i {
  color: var(--italic-color);
}

/* ----- Center Content ----- */
.modern-center {
  text-align: center;
}

/* ----- Custom Fonts ----- */
@font-face {
  font-family: "jetbrains_mono_bundled";
  src: url("_jetbrains_mono.ttf");
}

@font-face {
  font-family: "noto_serif_bundled";
  src: url("_noto_serif.ttf");
}

@font-face {
  font-family: "noto_sans_bundled";
  src: url("_noto_sans.ttf");
}
